:root{
    --titles: #508991;
    --soft-background: #D7F9F1;
    --details-contrast: #172A3A;
    --alternative-titles: #CC978E;
    --alternative-background:#E6B89C;
    --font-merri: "Merriweather", serif;
    --font-lato:"Lato", sans-serif;
}

