:root{
    --titles: #508991;
    --soft-background: #D7F9F1;
    --details-contrast: #172A3A;
    --alternative-titles: #CC978E;
    --alternative-background:rgb(250, 230, 218);
    --footer-background:#F8F9FA;
    --font-merri: "Merriweather", serif;
    --font-lato:"Lato", sans-serif;
}


.text-content{
    padding: 120px 20px 80px 20px;
    text-align: center;
    background-color: var(--alternative-background);
    
}

h1{
    font-family: var(--font-merri);
    font-weight: 1000;
    font-size: 96px;
}

h2{
    font-family: var(--font-lato);
    font-size: 40px;
    margin-top: 10px;
}

p{
    font-family: var(--font-lato);
    font-size: 20px; 
    margin-bottom: 30px;
    line-height: 1.7;
}

h3{
    font-family: var(--font-lato);
    font-weight: bold; 
    
}

.serviços a, .description a, .contacts a{
    color: var(--alternative-titles);
    font-weight: bold;
    text-decoration: none;
}

.initial-buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.button{
    margin: auto 10px;
    padding: 20px;
    background-color: var(--details-contrast);
    border-radius: 10px;
    color: var(--alternative-titles);
    text-decoration: none;
}

.img{    
    max-width: 70%;  
}

.description{
    margin: 30px 0;
}

.mid-text-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.btn-learn{
    padding: 10px 20px;
    border: 2px solid var(--alternative-titles);
    border-radius: 10px;
    color: var(--alternative-titles);
    text-decoration: none;
    font-size: 14px; 
    
}

.serviços{
    padding: 20px 0; 
    text-align: center;
    background-color: var(--alternative-background);
}

.grid-title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

i{
    margin-right: 30px;
    margin-top: 15px;

}

.contacts i{
    color: var(--alternative-titles);
   
}

.serviços p{
    font-size: 16px;   
}

footer i{
    color: var(--alternative-titles);
}

footer{
    border-top: 2px solid var(--alternative-titles);
}

@media (max-width: 900px){
    h1{
        font-size: 35px;
    }

    h2, h3{
        font-size: 20px;
    }

   i{
       margin-right: 10px;
   }

    .button{
        font-size: 14px;
    }
    .description{
        text-align: center;
        margin: 0;
        padding: 2px;
    }
    .mid-text-title{
        margin-bottom: 15px;
        font-size: 25px;
    }

    p{
        font-size: 14px;
    }

}

